# General
.DS_Store
Thumbs.db

# Python
*.py[cod]
__pycache__/
*.so

# Virtual environments
venv/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
/media
/staticfiles
/static
/locale

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Build directories
build/
dist/
public/

# Docker
*.log
docker-compose.override.yml
*.pid
*.seed
*.data
**/Dockerfile

# Coverage reports
coverage/
*.cover
*.coverage
*.coveragerc

# MySQL
mysql-data/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project